[submodule "packages/contracts/lib/kernel"]
	path = packages/contracts/lib/kernel
	url = https://github.com/zerodevapp/kernel
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/account-abstraction"]
	path = packages/contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
