[submodule "lib/openzeppelin-contracts"]
  path = packages/contracts/lib/openzeppelin-contracts
  url = https://github.com/OpenZeppelin/openzeppelin-contracts
  branch = v4.8.2
[submodule "packages/contracts/lib/I4337"]
	path = packages/contracts/lib/I4337
	url = https://github.com/leekt/I4337
[submodule "packages/contracts/lib/kernel"]
	path = packages/contracts/lib/kernel
	url = https://github.com/zerodevapp/kernel
	branch = 90fa72ed4386b3a4acb86c021743c5d56fc4f603
[submodule "packages/contracts/lib/solady"]
	path = packages/contracts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "packages/contracts/lib/light-account"]
	path = packages/contracts/lib/light-account
	url = https://github.com/alchemyplatform/light-account
