version: '3.4'
services:
  anvil:
    restart: unless-stopped
    image: ghcr.io/foundry-rs/foundry
    environment:
      - ANVIL_IP_ADDR=0.0.0.0
    command: ['anvil --block-time 2']
    ports:
      - 8545:8545
    healthcheck:
      test: "cast block-number --rpc-url http://0.0.0.0:8545"
      interval: 3s
      timeout: 2s
    
  anvil-setup: 
    image: ghcr.io/foundry-rs/foundry
    depends_on:
      anvil:
        condition: service_healthy
    restart: "no"
    volumes:
      - ./packages/contracts/constants:/constants
    command: ["cast rpc -r http://host.docker.internal:8545 anvil_setCode 0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789 $(cat /constants/entrypoint_bytecode.txt) && cast rpc -r http://host.docker.internal:8545 anvil_setCode 0xcA11bde05977b3631167028862bE2a173976CA11 $(cat /constants/multicall3_bytecode.txt) && cast rpc -r http://host.docker.internal:8545 anvil_setCode 0x7fc98430eaedbb6070b35b39d798725049088348 $(cat /constants/sender_creator_bytecode.txt) && cast rpc -r http://host.docker.internal:8545 anvil_setCode 0x4e59b44847b379578588920ca78fbf26c0b4956c $(cat /constants/deterministic_deployment_proxy_bytecode.txt)"]    

  skandha-bundler:
    image: jakim929/aa-playground:skandha-latest
    ports:
      - 14337:14337
    depends_on:
      anvil:
        condition: service_healthy
    volumes:
      - ./bundler-config.json:/usr/app/config.json
    command: ["standalone", "--redirectRpc", "--unsafeMode"]

  rundler-bundler:
    image: jakim929/aa-playground:rundler-latest
    ports:
      # RPC port
      - "3000:3000"
      # Metrics port
      - "8080:8080"
    environment:
      - ENTRY_POINTS=0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789
      - NODE_HTTP=http://host.docker.internal:8545
      - CHAIN_ID=31337
      - BUILDER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
    healthcheck:
      test: curl --fail http://localhost:3000/health || exit 1
      interval: 1s
      timeout: 1s
      retries: 60
      start_period: 10s
    depends_on:
      anvil:
        condition: service_healthy

  transeptor-bundler: 
    image: transeptorlabs/bundler:latest
    ports:
      - "4000:4000"
    environment:
      - MNEMONIC=test test test test test test test test test test test junk
      - BENEFICIARY=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
    command: >
      --port 4000
      --network http://host.docker.internal:8545
      --txMode base
      --httpApi web3,eth,debug
      --auto
      --autoBundleInterval 12000
      --unsafe


  rundler-cors-proxy:
    build: 
      context: .
      dockerfile: Dockerfile
      target: rundler-proxy
    container_name: rundler-cors-proxy
    ports:
      - "3003:80"
    depends_on:
      rundler-bundler:
        condition: service_healthy

  anvil-cors-proxy:
    build: 
      context: .
      dockerfile: Dockerfile
      target: anvil-proxy
    container_name: anvil-cors-proxy
    ports:
      - "8546:81"
    depends_on:
      anvil:
        condition: service_healthy
