version: '3.4'
services:
  anvil:
    restart: unless-stopped
    image: ghcr.io/foundry-rs/foundry
    environment:
      - ANVIL_IP_ADDR=0.0.0.0
    command: ['anvil --block-time 2']
    ports:
      - 8545:8545
    healthcheck:
      test: "cast block-number --rpc-url http://0.0.0.0:8545"
      interval: 3s
      timeout: 2s
    
  anvil-setup: 
    image: ghcr.io/foundry-rs/foundry
    depends_on:
      anvil:
        condition: service_healthy
    restart: "no"
    volumes:
      - ./packages/contracts/constants:/constants
    command: ["cast rpc -r http://host.docker.internal:8545 anvil_setCode 0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789 $(cat /constants/entrypoint_bytecode.txt) && cast rpc -r http://host.docker.internal:8545 anvil_setCode 0xcA11bde05977b3631167028862bE2a173976CA11 $(cat /constants/multicall3_bytecode.txt) && cast rpc -r http://host.docker.internal:8545 anvil_setCode 0x7fc98430eaedbb6070b35b39d798725049088348 $(cat /constants/sender_creator_bytecode.txt) && cast rpc -r http://host.docker.internal:8545 anvil_setCode 0x4e59b44847b379578588920ca78fbf26c0b4956c $(cat /constants/deterministic_deployment_proxy_bytecode.txt)" ]    

  bundler:
    image: jakim929/aa-playground:skandha-latest
    ports:
      - 14337:14337
    depends_on:
      anvil:
        condition: service_healthy
    volumes:
      - ./bundler-config.json:/usr/app/config.json
    command: ["standalone", "--redirectRpc"]


