version: '3.4'
services:
  anvil:
    restart: unless-stopped
    image: ghcr.io/foundry-rs/foundry
    container_name: anvil
    environment:
      - ANVIL_IP_ADDR=0.0.0.0
    command: ['anvil --block-time 2 --chain-id $CHAIN_ID']
    ports:
      - "8545:8545"
    healthcheck:
      test: "cast block-number --rpc-url http://0.0.0.0:8545"
      interval: 3s
      timeout: 2s

  # anvil-cors-proxy:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #     target: anvil-cors-proxy
  #   container_name: anvil-cors-proxy
  #   ports:
  #     - "8545:81"
  #   depends_on:
  #     anvil:
  #       condition: service_healthy

  anvil-setup: 
    build: 
      context: .
      dockerfile: Dockerfile
      target: anvil-setup
    container_name: anvil-setup
    environment: 
      - RPC_URL=http://anvil:8545
      - DEPLOYER_EOA_PRIVATE_KEY=$DEPLOYER_EOA_PRIVATE_KEY
      - ENTRYPOINT_CONTRACT_ADDRESS=$ENTRYPOINT_CONTRACT_ADDRESS
    depends_on:
      anvil:
        condition: service_healthy
    restart: "no"

  bundler-reverse-proxy-nginx:
    build: 
      context: .
      dockerfile: Dockerfile
      target: bundler-reverse-proxy
    container_name: bundler-reverse-proxy
    ports:
      - "3010:80"
    depends_on:
      anvil:
        condition: service_healthy
      rundler-bundler:
        condition: service_healthy
      skandha-bundler:
        condition: service_healthy
      transeptor-bundler:
        condition: service_healthy

  skandha-bundler:
    image: jakim929/aa-playground:skandha-latest
    container_name: skandha-bundler
    entrypoint: ["sh", "-c", "echo '{\"networks\":{\"dev\":{\"entryPoints\":[\"$ENTRYPOINT_CONTRACT_ADDRESS\"],\"relayer\":\"$BUNDLER_EOA_PRIVATE_KEY\",\"beneficiary\":\"$BUNDLER_EOA_ADDRESS\",\"rpcEndpoint\":\"http://anvil:8545\",\"minInclusionDenominator\":10,\"throttlingSlack\":10,\"banSlack\":10}}}' > /usr/app/config.json && node ./packages/cli/bin/skandha standalone"]
    healthcheck:
      test: >
        wget --header='Content-Type: application/json'  --no-verbose --tries=1 --output-document=- --spider --post-data='{"jsonrpc":"2.0","id":"1","method":"test","params":[]}' http://localhost:14337/$CHAIN_ID || exit 1
      interval: 3s
      timeout: 3s
      retries: 3
      start_period: 10s
    depends_on:
      anvil-setup:
        condition: service_completed_successfully

  rundler-bundler:
    image: jakim929/aa-playground:rundler-latest
    container_name: rundler-bundler
    environment:
      - ENTRY_POINTS=$ENTRYPOINT_CONTRACT_ADDRESS
      - NODE_HTTP=http://anvil:8545
      - CHAIN_ID=$CHAIN_ID
      - BUILDER_PRIVATE_KEY=$BUNDLER_EOA_PRIVATE_KEY
    healthcheck:
      test: curl --fail http://localhost:3000/health || exit 1
      interval: 3s
      timeout: 3s
      retries: 3
      start_period: 10s
    depends_on:
      anvil-setup:
        condition: service_completed_successfully

  transeptor-bundler: 
    image: transeptorlabs/bundler:latest
    container_name: transeptor-bundler
    environment:
      - MNEMONIC=$BUNDLER_EOA_MNEMONIC
      - BENEFICIARY=$BUNDLER_EOA_ADDRESS
    command: >
      --port 4000
      --network http://anvil:8545
      --txMode base
      --httpApi web3,eth,debug
      --auto
      --autoBundleInterval 12000
      --unsafe
    healthcheck:
      test: >
        wget --header='Content-Type: application/json'  --no-verbose --tries=1 --output-document=- --spider --post-data='{"jsonrpc":"2.0","id":"1","method":"test","params":[]}' http://localhost:4000/rpc || exit 1
      interval: 3s
      timeout: 3s
      retries: 3
      start_period: 10s
    depends_on:
      anvil-setup:
        condition: service_completed_successfully

        